body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    background-color: orange;
    padding-left: 10px;
    margin: 5px;
}

.contenitore_titolo {
    width: 100%;
    margin: 5px 20px;
    background-color: orange;
    }

.contenitore_nav {
    display: flex;
    height: 40px;
    margin: 5px ;
   }

nav {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: orange;
    width: 100%;
}
nav a {
    padding: 10px 20px;
    border-right: 1px solid black;
}

.no_border{
    border: none;
}

.contenitore_nav_aside {
    background-color: orange;
    filter: brightness(70%);
    width: 77%;
}

main{
    display: flex;
}

.contenuto_centrale{
    width: 70%;
    background-color: grey;
    margin: 5px 10px 5px 5px;
    padding: 10px 15px;
    text-align: justify;
}

aside {
    width: 30%;
    background-color: orange;
}

.contenitore_archivio a {
    padding: 10px 20px;
    border-right: 1px solid black;
    
}
.contenitore_archivio {
    background-color: yellow;
    height: 40px ;
    padding: 5px 0px;
    display: flex;
}

#no_border_marzo {
    border: none;
}

footer{
    display: flex;
    background-color: grey;
}

p {
    align-items: center;
}